@font-face {
    font-family: 'RobotoMono-Bold';
    src: url('./fonts/RobotoMono-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'RobotoMono-Regular';
    src: url('./fonts/RobotoMono-Regular.ttf');
}